<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <h1>Photo Gallery</h1>
    <div id="gallery">
        <img src="images/elon1.jpg" width="300" alt="">
        <img src="images/elon2.jpg" width="300" alt="">
        <img src="images/elon3.jpg" width="300" alt="">
    </div>
    <footer><a href="/home">Home</a></footer>
</body>
</html>