<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <h1>Works</h1>
    <div id="works">
        <ul >
            <li>Founder, CEO and Chief Engineer of SpaceX</li>
            <li>CEO and product architect of Tesla, Inc.</li>
            <li>Founder of The Boring Company</li>
            <li>Founder of X.com (now part of PayPal)</li>
            <li>Co-founder of Neuralink</li>
            <li>Co-founder of  OpenAI</li>
            <li>Co-founder of Zip2</li>
        </ul>
    </div>
    
    <footer><a href="/home">Home</a></footer>
</body>
</html>